@charset "UTF-8";

body{
    /*text-align: center;*/
background-color: #DDDDDD;
margin-left: 30%;
margin-right: 30%;
}
.header{
    /*display: inline-block;*/
    height:20px;
    /*width : 200px;*/
    /*margin:10px;*/
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: aliceblue;
    padding: 30px;
}
.container{
    background-color: white;
    height: 100%;
    /*margin-left:10%;
    margin-right:10%;*/
    /*text-align: center;*/
    /*background-color: aliceblue;*/
}
.footer{
    text-align: right;
}

span{
    color: grey;
    font-size: 12px;
}

div{
    padding : 20px;
}

