@charset "UTF-8";

/*body{
     text-align: center;
 }*/
.header{
    display: inline-block;
    height:50px;
    width : 400px;
    margin:10px;
    background-color: aliceblue;
    padding: 30px;
}
.container{
    margin-left: 25%;
    margin-right: 25%;
    /*text-align: center;*/
    /*background-color: aliceblue;*/
}

